@import "tailwindcss";
                

:root {
  --background: #ffffff;
  --foreground: #171717;
};


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-1: #5EFCD4;
    --color-2: #27E65F;
    --color-3: #F31DAC;
    --color-4: #2DB9FB;
    --color-5: #7572BB;
    --color-6: #090c0b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;                                          
}

.title {
  display: grid;
  place-items: center;
  z-index: 2;
  font-size: 100;
  color: var(--color-3);
  font-family: 'DOCALLISME ON STREET', sans-serif;

  
}


.heading {
  display: grid;
  justify-content: center;
  z-index: 1;
  font-size: 25;
  font-family: "Rubik Spray Paint", system-ui;

  color: var(--color-1);

}

.bkg {
  z-index: -10;
  position: absolute;
  width: 100%;
}

.image-button-container {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none; 
}
